.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Blog li {
  display: inline-block;
  margin: 20px;
}

.Blog Link {
  text-decoration: none;
  color: black;
}

.Blog Link:hover,
.Blog Link:active {
  color: orange;
}



.Navigion{
    padding: 0;
    margin: 0;
    text-align: center;
}


nav li{
    display: inline-block;
    margin: 10px;
}

li Link{
    text-decoration: none;
    border:1px solid black;
    padding: 5px 10px;
    
}


li Link:hover,
li Link:active{
    color:#0e4530;
    background-color: #cfd4c7;
}

